@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
    width: 8px;
}

::-webkit-scrollbar-track {
    background:#0000;
    width: 4px;
}

::-webkit-scrollbar-thumb {
    background: #10fbff;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #31ffad;
}